@{
    ViewBag.Title = "Home Page";
}

<section class="u-align-left u-clearfix u-gradient u-section-1" id="sec-f36b">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-layout-wrap u-layout-wrap-1" style="min-height: 0px !important">
            <div class="u-layout">
                <div class="u-layout-row">
                    <!-- Log in -->
                    <div id="div-login" class="u-align-left u-container-style u-layout-cell u-right-cell u-size-30 u-layout-cell-2" style="background-color: #006699;color: white;">
                        <div class="u-container-layout u-valign-middle u-container-layout-2">
                            <h1 style="text-align:center">Log In </h1>
                            <hr style="color:white ;width:100px">
                            <img src="~/Content/Images/16-169348_user-icon-user-white-icon-transparent-clipart.png" style="width: 367px; margin: 0 0 0 36px;" />
                            <form id="frm-login" method="POST" class="u-clearfix u-form-spacing-20 u-form-vertical u-inner-form" style="padding: 0;" source="custom" name="form">
                                @Html.AntiForgeryToken()
                                <!-- Email -->
                                <label for="Email">Email</label>
                                <input name="Email" type="email" />
                                <!-- Password -->
                                <label for="Password">Password</label>
                                <input name="Password" type="password" />

                                <!-- Button -->
                                <input type="submit" value="submit">
                                <div class="u-align-center u-form-group u-form-submit u-form-group-5">
                                    <a href="#" class="u-active-grey-90 u-border-none u-btn u-btn-submit u-button-style u-hover-grey-90 u-palette-1-base u-btn-1" style="background-color: #872156 !important">Login</a>
                                    <input type="submit" value="submit" class="u-form-control-hidden">
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- Register  -->
                    <div id="div-register" class="u-align-left u-container-style u-layout-cell u-right-cell u-size-30 u-layout-cell-2" style="background-color: #872156; color: white">

                        <div class="u-container-layout u-valign-middle u-container-layout-2">
                            <h1 style="text-align:center">Register </h1>
                            <hr style="color:white ;width:100px">
                            <form id="frm-register" method="POST" class="u-clearfix u-form-spacing-20 u-form-vertical u-inner-form" style="padding: 0;" source="custom" name="form">
                                @Html.AntiForgeryToken()
                                <!-- First Name -->
                                <label for="FirstName">First Name</label><br />
                                <input name="FirstName" type="text" style="color: black !important;" />
                                <!-- Surname -->
                                <label for="Surname">Surname</label><br />
                                <input name="Surname" type="text" style="color: black !important;" />
                                <!-- Email -->
                                <label for="Email">Email</label><br />
                                <input name="Email" type="email" style="color: black !important;" />
                                <!-- Manager -->
                                <label for="IsManager"> IsManager</label><br>
                                <input type="checkbox" id="IsManager" name="IsManager">
                                <!-- Password -->
                                <label for="Password">Password</label><br />
                                <input name="Password" type="password" style="color: black !important;" />
                                <!-- Confirm Password -->
                                <label for="ConfirmPassword">Confirm Password</label><br />
                                <input name="ConfirmPassword" type="password" style="color: black !important;" />

                                <!-- Button -->
                                <input type="submit" value="submit">
                                <div class="u-align-center u-form-group u-form-submit u-form-group-5">
                                    <a href="#" class="u-active-grey-90 u-border-none u-btn u-btn-submit u-button-style u-hover-grey-90 u-palette-1-base u-btn-1">Register</a>
                                    <input type="submit" value="submit" class="u-form-control-hidden">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>